<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 , maximum-scale=1.0 , user-scalable = 0">
    <link rel="stylesheet" th:href="@{/resources/static/css/login.css}">
    <link rel="stylesheet" th:href="@{/resources/static/css/fragments/header.css}">
    <link rel="stylesheet" th:href="@{/resources/static/css/fragments/footer.css}">
    <title>template</title>
</head>
<body>
<div class="wrapper">
    <div th:replace="fragments/header.htm :: header"></div>
    <div th:replace="fragments/header.htm :: menubox"></div>

    <div class="main">
        <div class="login">
            <div class="login__container">
                <div class="login__body">
                    <div class="login__registration">
                        <form class="login__forms" action="#">

                            <div class="login__mail">
                                <div class="text">Email / Phone</div>
                                <input type="text" name ='mail' style="font-size: 15px;" placeholder="Введите email или телефон">
                            </div>
                            
                            <div class="login__password">
                                <div class="text">Password</div>
                                <input type="text" name ='password' style="font-size: 15px;"  placeholder="Введите пароль">
                            </div>
                            <div class="login__checkbox">
                                 <input type="checkbox"  value = '1' name="namecheckbox"> 
                                 <div class="checkbox__text">Remember me </div>
                                 <div class="checkbox__question">Забыли пароль? </div>
                            </div>
                            <div class="login__buttons">
                                <button class = "submit" type="submit">Войти</button>
                                <a  class = 'registration__link' th:href="@{/people/registration}">Зарегистрироваться</a>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer.htm :: footer"></div>
</div>
<div th:replace="fragments/footer.htm :: scripts_default"></div>
</body>
</html>