<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<!--    <meta charset="UTF-8">-->
    <meta charset="ISO-8859-1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 , maximum-scale=1.0 , user-scalable = 0">
    <link rel="stylesheet" th:href="@{/resources/static/css/registration.css}">
    <link rel="stylesheet" th:href="@{/resources/static/css/fragments/header.css}">
    <link rel="stylesheet" th:href="@{/resources/static/css/fragments/footer.css}">
    <title>template</title>
</head>
<body>
<div class="wrapper">
    <div th:replace="fragments/header.htm :: header"></div>
    <div th:replace="fragments/header.htm :: menubox"></div>
    <div class="main">
        <div class="login">
            <div class="login__container">
                <div class="registration__body">
                   <div class="registration__item">
                    <div class="registration__sign">
                        Sign up
                    </div>
<!--                       th:action="@{/person/registration}" th:object="person" th:method="POST"-->
                    <div class="registration__form">
                        <form  class ='form' autocomplete="off" action="#" th:action="@{/registration}"
                               th:object="${user}" method="post"  role="form" >
<!--                            th:name ='userLogin'-->
                            <input th:type="text" th:field="*{userLogin}" style="font-size: 20px;" th:placeholder="Username">

<!--                            th:name ='mail'-->
<!--                            <input th:type="text" th:field="*{userEmail}" style="font-size: 20px;" th:placeholder="E-mail">-->

<!--                            th:name ='password'-->
                            <input th:type="text" th:field="*{userPass}" style="font-size: 20px;" th:placeholder="Password">

                            <input type="checkbox"  value = "1" th:field="*{userEnable}">
                            <div class="checkbox__text">Enable User </div>

                            <!--                            <input th:type="text" th:name ='retype' style="font-size: 20px;" th:placeholder="Retype password">-->

                            <div class="registration__buttons">
                                <button class = "registration__submit" type="submit">Зарегистрироваться</button>
                            </div>

                        </form>
                    </div>


                   </div>

                   <div class="registration__item registration__item_back">
                    <div class="registration__media">
                        Sign in with social network
                    </div>
                    <div class="registration__bymedia">
                        <div class="button__media button__media_facebook">Log in with Facebook</div>
                        <div class="button__media button__media_twitter">Log in with Twitter</div>
                        <div class="button__media button__media_google">Log in with Google+</div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer.htm :: footer"></div>
</div>
<div th:replace="fragments/footer.htm :: scripts_default"></div>
</body>
</html>