<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 , maximum-scale=1.0 , user-scalable = 0">
    <link rel="stylesheet" href="" th:href="@{/resources/static/css/style.css}"/>
    <link rel="stylesheet" href="" th:href="@{/resources/static/css/fragments/header.css}"/>
    <link rel="stylesheet" href="" th:href="@{/resources/static/css/fragments/footer.css}"/>
    <title>template</title>
</head>
<body>
<div th:replace="fragments/header.htm :: header"></div>

    <div class="wrapper">
        <div class="main">
            <div class="links">
                <div class="links__container">
                    <nav class="links__navi">
                        <ul class="links__list">
                            <li class="links__link"><a href="#">Одежда</a></li>
                            <li class="links__link"><a href="#">Обувь</a></li>
                            <li class="links__link"><a href="#">Аксессуары</a></li>
                            <li class="links__link"><a href="#">Скидки</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="children">
                <div class="children__container">
                    <div class="children__slider">
                        <div class="slider__item">
                            <img th:src="@{/resources/static/img/children/01.svg}" alt="">
                        </div>

                        <div class="slider__item">
                            <img th:src="@{/resources/static/img/children/01.svg}" alt="">
                        </div>

                        <div class="slider__item">
                            <img th:src="@{/resources/static/img/children/01.svg}" alt="">
                        </div>

                        <div class="slider__item">
                            <img th:src="@{/resources/static/img/children/01.svg}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div th:replace="~{fragments/fragments :: footer}"></div>
<script
        th:src="@{https://code.jquery.com/jquery-3.6.1.js}"
        integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
        crossorigin="anonymous"></script>
<script th:src="@{/resources/static/js/slick.min.js}"></script>
<script th:src="@{/resources/static/js/script.js}"></script>

</body>
</html>
