<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>New Product</title>
</head>
<body>

<form  action="#" th:action="@{/admin/product/insert}" th:object="${product}" th:method="POST">
	<p>Enter name: <input th:type="text" th:field="*{product_name}" /></p>
<!--	<div style="color:red" th:if="${#fields.hasErrors('product_name')}" th:errors="*{product_name}">Name Error</div>-->
	<p>Enter category: <input th:type="number" th:field="*{category_id}" /></p>
<!--	<div style="color:red" th:if="${#fields.hasErrors('category_id')}" th:errors="*{product_id}">Name Error</div>-->
	<p>Enter about: <input th:type="text" th:field="*{product_about}" /></p>
<!--	<div style="color:red" th:if="${#fields.hasErrors('product_about')}" th:errors="*{product_about}">Name Error</div>-->
	<p>Enter gender: <input th:type="number" th:field="*{product_gender}" /></p>
	<p><input type="submit" th:value="Submit" /></p>
</form>


</body>
</html>
