<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 , maximum-scale=1.0 , user-scalable = 0">
    <link rel="stylesheet" href="css/pay.css">
    <title>template</title>
</head>
<body>
<div class="wrapper">
    <header class="header">
        <div class="header__container">
            <div class="header__body">
                <div class="header__row">
                    <div class="header__links">
                        <a class= 'header__link' href="#">Категории</a>
                        <a class= 'header__link' href="pay.html">Оплата и доставка</a>
                        <a class= 'header__link' href="reviews.html">Отзывы</a>
                      
                    </div>
                
                    <div class="header__logo">
                        <a href="index.html">Твой <span>Стиль</span></a>
                    </div>
                    
                    <div class="header__icon">
                        <img class = 'header__basket' src="/img/header/01.svg"  alt="">

                        <a href="login.html"><img class = 'header__login' src="/img/header/user01.png" width="40px" height="40px" alt=""></a>
                    </div>
                   
                </div>
            </div>
        </div>
   
    </header>

    <main class="main">
        <div class="pay__container">
            <div class="pay__text">
                <div class="pay__title">
                    Оплата и доставка
                </div>
                <div class="pay__subtitle">
                   <p>Выберите понравившийся товар, внимательно ознакомьтесь с его характеристиками и после этого добавьте его в вашу корзину при помощи кнопки «Добавить в корзину».</p> 

                   <p>Корзина доступна с любой страницы сайта, таким образом, вы в любой момент можете приступить к оформлению заказа.</p> 

                    <p>Оформить заказ на доставку выбранного товара вы можете:<br>
                    Заполнив специальную форму заказа на нашем сайте в любое время суток.</p>

                    <p>В интернет-магазине «Кроха» вы можете осуществить оплату товара двумя способами:<br>
                    Наличными курьеру при получении заказа<br>
                    Безналичным расчетом посредством банковской карты (online)</p>

                    <p>После выбора способа оплаты перейдите на следующий шаг, чтобы подтвердить ваши данные 
                    и завершить оформление заказа.</p>
                    </div>
            </div>
        </div>
    </main>

    <div class="footer">
        <div class="header__container">
            <div class="footer__row">
                <div class="footer__logo">
                    Твой <span>Стиль</span>
                </div>
    
                <div class="footer__text">
                    Руководитель организации: генеральный директор 
                    Солонар Сергій Михайлович. Юридический адрес 
                    ПАО "Детский Мир" - 119415, город Москва, проспект 
                    Вернадского, 37-3.
                    Организации ПУБЛИЧНОЕ АКЦИОНЕРНОЕ ОБЩЕСТВО 
                    "ДЕТСКИЙ МИР" присвоены ИНН 7729355029, 
                    ОГРН 1027700047100, ОКПО 47568073. 
                </div>
    
                <div class="footer__images">
                    <img src="/img/footer/инст 3.svg" alt="">
                    <img src="/img/footer/инст 3.svg" alt="">
                    <img src="/img/footer/инст 3.svg" alt="">
                </div>
            </div>
        </div>
    </div>
    </div>