<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 , maximum-scale=1.0 , user-scalable = 0">
    <link rel="stylesheet" th:href="@{/resources/static/css/buypage.css}">
    <link rel="stylesheet" th:href="@{/resources/static/css/fragments/header.css}">
    <link rel="stylesheet" th:href="@{/resources/static/css/fragments/footer.css}">
    <title>template</title>
</head>
<body>
<div class="wrapper">
    <div th:replace="fragments/header.htm :: header"></div>
    <div th:replace="fragments/header.htm :: menubox"></div>
    <div class="main">
        <div class="buypage">
            <div class="buypage__container">
                <div class="buypage__title" th:text="${product.getProduct_name}">Product not found</div>
                <div class="buypage__row">
                    <div class="buypage__slider">
                        <div class="buypage__item">
                            <img th:src="@{/image/{id}(id=${product.getProduct_id()})}" alt="">
                        </div>
                        
                        <div class="buypage__item">
                            <img th:src="@{/image/{id}(id=${product.getProduct_id()})}" alt="">
                        </div>
            
                        <div class="buypage__item">
                            <img th:src="@{/image/{id}(id=${product.getProduct_id()})}" alt="">
                        </div>
            
                        <div class="buypage__item">
                            <img th:src="@{/image/{id}(id=${product.getProduct_id()})}" alt="">
                        </div>

                        <div class="buypage__item">
                            <img th:src="@{/image/{id}(id=${product.getProduct_id()})}" alt="">
                        </div>
                    </div>
                    <div class="buypage__body">
                        <div class="buypage__title2" th:text="${product.getProduct_name}">Product not found</div>

                        <div class="buypage__price">
                            365 UAH
                        </div>
                        <div class="buypage__about" th:text="${product.getProduct_about()}">None</div>
                

                        <div class="buypage__calc">
                            <form class="form">
                                <div class="product-settings">
                                    <div>
                                        <p class="form__text">Выберите размер:</p>
                                        <select class="form__select" id="selectProduct" >
                                            <option value="" selected disabled>Выбрать из списка</option>
                                            <option value="365">XS(365 UAH)</option>
                                            <option value="365">S(365 UAH)</option>
                                            <option value="365">M(365 UAH)</option>
                                            <option value="425">L(465 UAH)</option>
                                            <option value="525">XL(565 UAH)</option>
                                            <option value="625">2XL(665 UAH)</option>
                                            <option value="725">3XL(765 UAH)</option>
                                            <option value="825">4XL(865 UAH)</option>
                                            <option value="925">5XL(965 UAH)</option>
                                        </select>
                                    </div>

                                    <div class="buypage__counter">
                                        <p class="form__text"> Укажите количество:</p>
                                        <input id="quantityProduct" class="form__input" type="number" value="0" min = '0'>
                                    </div>
                                </div>

                              <button type = 'button' class="link" id="btcProduct">Рассчитать</button>
                            </form>
                      
                              <div id = 'infoProduct' class="total" style="display: none;">
                                <p class="total__price">Итог: <span id="priceProduct"></span></p>
                                <p class="total__mail">Оставьте заявку по почте:</br><a class = "total__link" href="#">hyisosi@gmail.com</a></p>
                              </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="recomendation">
                <div class="recomendation__container">
                    <div class="recomendation__title">
                    рекомендуем к покупке
                </div>
                <div class="recomendation__slider">
                    <div class="recomendation__item">
                        <img th:src="@{/image/{id}(id=${product.getProduct_id()})}" alt="">
                        <div class="recomendation__about">
                            <div class="recomendation__price">
                                111 UAH
                            </div>
                            <div class="recomendation__name">
                                Худи
                            </div>
                        </div>
                    </div>

                    <div class="recomendation__item">
                        <img th:src="@{/image/{id}(id=${product.getProduct_id()})}" alt="">
                        <div class="recomendation__about">
                            <div class="recomendation__price">
                                111 UAH
                            </div>
                            <div class="recomendation__name">
                                Худи
                            </div>
                        </div>
                    </div>

                    <div class="recomendation__item">
                        <img th:src="@{/image/{id}(id=${product.getProduct_id()})}" alt="">
                        <div class="recomendation__about">
                            <div class="recomendation__price">
                                111 UAH
                            </div>
                            <div class="recomendation__name">
                                Худи
                            </div>
                        </div>
                    </div>

                    <div class="recomendation__item">
                        <img th:src="@{/image/{id}(id=${product.getProduct_id()})}" alt="">
                        <div class="recomendation__about">
                            <div class="recomendation__price">
                                111 UAH
                            </div>
                            <div class="recomendation__name">
                                Худи
                            </div>
                        </div>
                    </div>

                    <div class="recomendation__item">
                        <img th:src="@{/image/{id}(id=${product.getProduct_id()})}" alt="">
                        <div class="recomendation__about">
                            <div class="recomendation__price">
                                111 UAH
                            </div>
                            <div class="recomendation__name">
                                Худи
                            </div>
                        </div>
                    </div>

                    <div class="recomendation__item">
                        <img th:src="@{/image/{id}(id=${product.getProduct_id()})}" alt="">
                        <div class="recomendation__about">
                            <div class="recomendation__price">
                                111 UAH
                            </div>
                            <div class="recomendation__name">
                                Худи
                            </div>
                        </div>
                    </div>

                    <div class="recomendation__item">
                        <img th:src="@{/image/{id}(id=${product.getProduct_id()})}" alt="">
                        <div class="recomendation__about">
                            <div class="recomendation__price">
                                111 UAH
                            </div>
                            <div class="recomendation__name">
                                Худи
                            </div>
                        </div>
                    </div>

                    <div class="recomendation__item">
                        <img th:src="@{/image/{id}(id=${product.getProduct_id()})}" alt="">
                        <div class="recomendation__about">
                            <div class="recomendation__price">
                                111 UAH
                            </div>
                            <div class="recomendation__name">
                                Худи
                            </div>
                        </div>
                    </div>

                    <div class="recomendation__item">
                        <img th:src="@{/image/{id}(id=${product.getProduct_id()})}" alt="">
                        <div class="recomendation__about">
                            <div class="recomendation__price">
                                111 UAH
                            </div>
                            <div class="recomendation__name">
                                Худи
                            </div>
                        </div>
                    </div>

                    <div class="recomendation__item">
                        <img th:src="@{/image/{id}(id=${product.getProduct_id()})}" alt="">
                        <div class="recomendation__about">
                            <div class="recomendation__price">
                                111 UAH
                            </div>
                            <div class="recomendation__name">
                                Худи
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer.htm :: footer"></div>
</div>
<div th:replace="fragments/footer.htm :: scripts_default"></div>

</body>
</html>