.header__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.header__body {
    position: relative;
    -webkit-transform: translate(0, 60%);
    transform: translate(0, 60%);
}

.header {
    height: 91px;
    background: #000;
    color: #FFFFFF;
    /*margin-bottom: 42px;*/
    z-index: 101;
}

.links__container {
    max-width: 1000px;
}

.header__links {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 17px;
    margin-right: 103px;
}

.header__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 38px;
}

.header__link {
    position: relative;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    line-height: 30px;
}
.header__link::before {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 2px solid #fff;
    bottom: 0px;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.header__link:hover {
    color: #d21f3c;
}
.header__link:hover::before {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.header__logo {
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 28px;
    max-width: 100px;
    position: relative;
    bottom: 15px;
    right: 110px;
}
.header__logo span {
    color: #d21f3c;
    position: absolute;
    left: 15px;
    top: 25px;
    font-weight: 800;
}
.header__logo span::before {
    content: "";
    position: absolute;
    width: 115%;
    border-top: 2px solid #FFFFFF;
    right: 0;
}

.header__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header__basket {
    position: relative;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
    right: 50px;
}
.header__basket:hover {
    -webkit-transform: rotate(-25deg);
    transform: rotate(-25deg);
}

.header__login {
    /*border-radius: 50%;*/
}



/*=============MENU=============*/

.menu-btn{
    width: 50px;
    height: 40px;
}
.menu-btn span,
.menu-btn span::before,
.menu-btn span::after{
    display: none;
    position: absolute;
    top: 50%;
    margin-top: -2px;
    width: 40px;
    height: 4px;
    background-color: white;
}

.menu-btn span::before,
.menu-btn span::after{
    content: '';
    display: block;
    transition: 0.5s;
}
.menu-btn span::before{
    transform: translateY(-10px);
}
.menu-btn span::after{
    transform: translateY(10px);
}
.menu-btn_active span{
    height: 0;
}
.menu-btn_active span:before{
    transform: rotate(45deg);
}
.menu-btn_active span:after{
    transform: rotate(-45deg);
}

/*==============/MENU==============*/

/*==============MENU_LINKS==============*/
.no_scroll{
    overflow: hidden;
}

.main-blur{
    filter: blur(5px);
    pointer-events: none;
}

.menubox{
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    /*height: 100%;*/
    margin: 0;
    padding: 30% 0 30% 0;
    list-style: none;
    background-color: black;
    box-shadow: 4px 4px 1em 4px #d21f3c;
    transition-duration: .25s;
    z-index: 100;
}

.menu-item {
    display: block;
    padding: 12px 24px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}
.menu-item:hover {
    background-color: #d21f3c;
}
#basket-item{
    display: none;
}
#account-item{
    display: none;
}
.menubox-anime{
    visibility: visible;
    left: 0;

}
/*==============/MENU_LINKS==============*/

@media (max-width: 1024px) {
    [class*=header__links] {
        display: none;
    }

    [class*=header__logo] {
        right: 0;
    }

    [class*=menu-btn] span {
        display: block;
    }

    [class*=header__row] {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media (max-width: 846px) {
    /*[class*=header__body]{*/
    /*    top:15px*/
    /*}*/
}

@media (max-width: 765px) {
    [class*=header__body]{
        top:15px
    }

    [class*=header__basket]{
        display: none;
    }
    [class*=header__login]{
        display: none;
    }
    #account-item{
        display: block;
    }
    #basket-item{
        display: block;
    }

}

@media (max-width: 729px) {

}

@media (max-width: 490px) {
    [class*=header__row]{
        padding-left: 10%;
        padding-right: 10%;
    }
}
