@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  color: #000;
  font-family: "Rubik";
  font-weight: 500;
  cursor: default;
}

nav, footer, header, aside {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}


.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}


.buypage {
  padding-bottom: 200px;
}
.buypage .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.buypage__slider {
  max-width: 750px;
}

.buypage__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 550px;
          flex: 0 1 550px;
  position: relative;
}
.buypage__item img {
  width: 750px;
  height: 750px;
  object-fit: cover;}

.slick-list {
  overflow: hidden;
}
.slick-list{
  box-sizing: border-box;
  width: 100%;
}

.buypage__title {
  display: block;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 65px;
  margin-top: 40px;
}
.buypage__title2 {
  display: none;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 15px;
}

.buypage__calc {
  height: 0;
}

.buypage__slider {
  position: relative;
}
.buypage__slider .slick-arrow {
  position: absolute;
  top: 43%;
  z-index: 10;
  font-size: 0;
}
.buypage__slider .slick-arrow.slick-prev {
  left: -50px;
  width: 60px;
  height: 60px;
  background: url(/resources/static/img/stocks/slide-01.svg) 0 0/100% no-repeat;
}
.buypage__slider .slick-arrow.slick-next {
  right: -50px;
  width: 60px;
  height: 60px;
  background: url(/resources/static/img/stocks/slide-02.svg) 0 0/100% no-repeat;
}
.buypage__slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 22px;
  /*right: 30px;*/
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.buypage__slider .slick-dots li {
  padding-left: 20px;
}
.buypage__slider .slick-dots button {
  font-size: 0;
  width: 15px;
  height: 15px;
  background-color: #000;
  border-radius: 50%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.buypage__slider .slick-dots li.slick-active button {
  border: 1px solid #000;
  background-color: #fff;
}

.buypage__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.buypage__about {
  max-width: 700px;
}

.buypage__price {
  display: inline-block;
  background-color: #000;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  padding: 10px 30px;
  border-radius: 25px;
  margin-bottom: 20px;
}

.buypage__about {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  line-height: 40px;
  margin-bottom: 20px;
}

.form__text {
  font-size: 14px;
  color: #494949;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 15px;
}

.form__select {
  margin-bottom: 24px;
  padding: 15px 10px 15px 20px;
}

.form__select,
.form__input {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  border: 1px solid #494949;
  background: #fff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.form__input {
  margin-bottom: 41px;
  width: 90px;
  padding: 15px 0 15px 20px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.quantity-nav {
  position: relative;
  top: -97px;
  right: -90px;
  height: 55px;
}

.quantity-button {
  position: relative;
  cursor: pointer;
  background-color: #494949;
  border-left: 1px solid #eee;
  width: 30px;
  text-align: center;
  color: #eee;
  font-size: 18px;
  line-height: 1.5;
}

.quantity-button.quantity-up {
  position: absolute;
  height: 50%;
  top: 0;
}

.quantity-button.quantity-down {
  position: absolute;
  bottom: -1px;
  height: 50%;
}

.link {
  position: relative;
  bottom: 50px;
  font-size: 20px;
  background: #d21f3c;
  color: #fff;
  padding: 13px 0;
  font-family: "Montserrat", sans-serif;
  min-width: 250px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-bottom: 19px;
}
.link:hover {
  background: rgb(133, 4, 26);
}

.total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  bottom: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.total__price {
  font-size: 28px;
  color: #d21f3c;
  font-family: sans-serif;
  letter-spacing: 1.2px;
}

.total__mail {
  font-size: 16px;
  line-height: 20px;
}

.total__link:hover {
  border-bottom: 1px solid #000;
}

.product-settings{
  display: flex;
}

.recomendation {
  position: relative;
  margin-bottom: 150px;
}
.recomendation .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}

.recomendation__title {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 65px;
  text-transform: uppercase;
}

.recomendation__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 245px;
          flex: 0 1 245px;
  position: relative;
}
.recomendation__item img {
  width: 100%;
  height: 300px;
  margin-bottom: 15px;
}

.recomendation__about {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.recomendation__price {
  display: inline-block;
  background-color: #000;
  color: #fff;
  padding: 10px 45px;
  font-size: 16px;
  letter-spacing: 1.5px;
  border-radius: 25px;
  margin-bottom: 20px;
}

.recomendation__name {
  font-size: 16px;
}

.recomendation__slider {
  position: relative;
  max-width: 1350px;
  margin: 0 auto;
}
.recomendation__slider .slick-arrow {
  position: absolute;
  top: 30%;
  z-index: 10;
  font-size: 0;
}
.recomendation__slider .slick-arrow.slick-prev {
  left: -50px;
  width: 60px;
  height: 60px;
  background: url(/resources/static/img/stocks/slide-01.svg) 0 0/100% no-repeat;
}
.recomendation__slider .slick-arrow.slick-next {
  right: -50px;
  width: 60px;
  height: 60px;
  background: url(/resources/static/img/stocks/slide-02.svg) 0 0/100% no-repeat;
}
.recomendation__slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 45px;
  /*right: 30px;*/
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.recomendation__slider .slick-dots li {
  padding-left: 20px;
}
.recomendation__slider .slick-dots button {
  font-size: 0;
  width: 15px;
  height: 15px;
  background-color: #000;
  border-radius: 50%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.recomendation__slider .slick-dots li.slick-active button {
  border: 1px solid #000;
  background-color: #fff;
}

[class*=__container] {
   max-width: 1450px;
   margin: 0 auto;
   padding: 0 15px;
 }
@media (max-width: 1480px) {
  [class*=__container] {
    max-width: 1240px;
  }

}

@media (max-width: 1270px) {
  [class*=__container] {
    max-width: 1024px;
  }
  .buypage__body{
    margin-left: 60px;
  }

}
@media (max-width: 1090px) {
  [class*=__container] {
    max-width: 970px;
  }
  .buypage__row{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .buypage__title{
    margin-bottom: 40px;
  }
  /*.buypage__slider .slick-dots {*/
  /*  right: -11px;*/
  /*}*/
  .buypage__body {
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 200px;
    margin-left: 20px;

  }
  .link{
    margin-left: 17%;
  }

  }
@media (max-width: 991.98px) {
  [class*=__container] {
    max-width: 750px;
  }
}
@media (max-width: 808px) {
  .buypage__slider .slick-arrow.slick-prev {
    background: none
  }
  .buypage__slider .slick-arrow.slick-next {
    background: none
  }

}

@media (max-width: 750px) {
  [class*=__container] {
    max-width: none;
  }
  .header{
    margin-bottom: 0;
  }
  .buypage__title{
    display: none;
  }
  .buypage__title2{
    display: block;
  }
  .buypage__item{
    display: block;
    max-width: 100%;
  }

  .buypage__item img{
    display: block;
    max-width: 100%;
    max-height: 100%;
  }
}
