<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="footer" th:fragment="footer">
    <div class="header__container">
        <div class="footer__row">
            <div class="footer__logo">
                Твой <span>Стиль</span>
            </div>

            <div class="footer__text">
                Руководитель организации: генеральный директор
                Солонар Сергій Михайлович. Юридический адрес
                ПАО "Детский Мир" - 119415, город Москва, проспект
                Вернадского, 37-3.
                Организации ПУБЛИЧНОЕ АКЦИОНЕРНОЕ ОБЩЕСТВО
                "ДЕТСКИЙ МИР" присвоены ИНН 7729355029,
                ОГРН 1027700047100, ОКПО 47568073.
            </div>

            <div class="footer__images">
                <img th:src="@{/resources/static/img/footer/инст 3.svg}" alt="">
                <img th:src="@{/resources/static/img/footer/инст 3.svg}" alt="">
                <img th:src="@{/resources/static/img/footer/инст 3.svg}" alt="">
            </div>
        </div>
    </div>
</div>
<div th:fragment="scripts_default">
    <script
            th:src="@{https://code.jquery.com/jquery-3.6.1.js}"
            integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
            crossorigin="anonymous"></script>
    <script th:src="@{/resources/static/js/slick.min.js}"></script>
    <script th:src="@{https://kit.fontawesome.com/d09046bc62.js}" crossorigin="anonymous"></script>
    <script th:src="@{/resources/static/js/script.js}"></script>
    <script th:src="@{/resources/static/js/menu_default.js}"></script>
    <script th:src="@{https://code.jquery.com/ui/1.13.2/jquery-ui.js}"></script>
</div>
<div th:fragment="scripts_categories">
    <script
            th:src="@{https://code.jquery.com/jquery-3.6.1.js}"
            integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
            crossorigin="anonymous"></script>
    <script th:src="@{/resources/static/js/slick.min.js}"></script>
    <script th:src="@{https://kit.fontawesome.com/d09046bc62.js}" crossorigin="anonymous"></script>
    <script th:src="@{/resources/static/js/script.js}"></script>
    <script th:src="@{/resources/static/js/menu_for_categories.js}"></script>
    <script th:src="@{https://code.jquery.com/ui/1.13.2/jquery-ui.js}"></script>
</div>

</html>